:root {
    --color-white: white;
    --color-puple: #C271FF;
    --color-dark:#000000;
    --font-family-base:'Source Sans Pro';

}
* {
    font-family: var(--font-family-base);
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body {
    background: url("IMAGES/CSS\ Advanced/Object.png") center/cover no-repeat;
    background-position-y: 0%;
}
.banner {
    align-items: center;
    text-align: center;
}
main {
    position: relative;
    top: 0;
}
.section {
    align-items: center;
    text-align: center;
}
a{
    text-decoration: none;
}
button:hover {
    cursor: pointer;
    opacity: .9;
}


/* ============== HEADER ============ */
header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    padding: 2rem 6rem;
}
header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header .navbar a {
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
}
header .navbar a:hover {
    color: #C271FF;
}
/* ============== END HEADER ============ */


/* ============== SECTION 1 ============ */
.section .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.banner div h1 {
    color: #FFF;
    font-size: 8rem;
    font-weight: 700;
}
.banner div h1+p {
    word-spacing: 60px;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 50px;
}
.banner div button {
    width: 170px;
    height: 44px;
    border-radius: 22px;
    background: #C271FF;
    border: none;
    box-shadow: 1px 1px 10px rgb(49, 49, 49);
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 3.5rem;
}
.banner div span {
    color: #C271FF;
    font-size: 32px;
    font-weight: 700;
}
.banner div h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 80px;
}
.banner .users {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 145px;
}
.banner .users img {
    width: 140px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.banner .users div h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
    line-height: 27px; 
}
.banner .users div p {
    color: #FFF;
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    line-height: 23px;
}
/* ============== END Section 1 ============ */

/* ============== Section 2 ============ */
.quotes {
    padding: 100px;
    background: #C271FF;
}
.quotes .q {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.quotes #content{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.quotes .q div q {
    color: #FFF;
    font-size: 22px;
    font-weight: 100;
    line-height: 33.6px;
    margin-bottom:30px ;
}

.quotes .q div q+p {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 33.6px;
}
.quotes .q div q+p+p {
    color: #FFF;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33.6px;
}
/* ============== END Section 2 ============ */

/* ============== Section 3 ============ */
.videos-list {
    padding: 100px;
    background: #fff;
}
.videos-list h2 {
    color:#000000;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 60px;
    display:flex;
    justify-content: center;
    gap: 7px;
}

.videos-list h2 span {
    color: #C271FF;
    font-size: 32px;
    font-weight: 300;
   
}
.videos-list .videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    size: 0px;
}
.video {
    text-align: start;
    
}
.video h4 {
    color: #071629;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px;
}
.video h4+p {
    color: rgba(7, 22, 41, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;

}

.video .ph {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: #C271FF;
}
.p img {
    width: 20px;
    height: 20px;
}
.p h4 {
    color: #C271FF;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
}
.video .rating {
    display: flex;
    align-items: center;
    gap: 100px;
    color: #C271FF;
}
.rating p {
    color: #C271FF;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
}
/* ============== END SECTION 3 ============ */

/* ============== Section 4 ============ */
.membership{
    padding-top: 100px;
    padding-bottom: 50px;
    background: #071629;
}
.membership h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 300;
}
.membership h2 span {
    color: #C271FF;
    font-size: 32px;
    font-weight: 700;
}
.membership #smiles {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.membership button {
    width: 170px;
    height: 44px;
    border-radius: 22px;
    background: #C271FF;
    border: none;
    margin-top: 100px;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    box-shadow: 4px 4px 4px black;
}
#smiles h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 20px;
}
#smiles p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}
/* ============== END section 4 ============ */

/* ============== Section 5 ============ */
.FAQ {
    padding-top: 100px;
    padding-bottom: 50px;
    background: #fff;
}
.FAQ h2 {
    color: #071629;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 70px;
}
.FAQ .faq {
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin-bottom: 100px;
}
.faq h3 {
    color: #071629;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.faq p {
    color: rgba(7, 22, 41, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
/* ============== END section 4 ============ */

/* ============== Footer ============ */
.footer {
    padding-top: 100px;
    padding-bottom: 30px;
    background: #071629;
}
.footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.footer p {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.3517;
}
/* ============== END FOOTER ============ */

/* ============== RESPONSIVE ============ */
@media (min-width:0px) and (max-width:480px) {
    header .navbar {
        display: none;
    }
    header {
        padding:30px 90px;
    }
    .banner .title h1 {
        text-align: center;
        font-size: 30px;
        width: auto;
    }
    .banner .title p {
        word-spacing:8px;
    }
    .q {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .users {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .videos {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    #smiles {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .faq {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .foot div {
        flex-direction: column;
        width: auto;
        gap: 30px; 
    }
}

@media (min-width:481px) and (max-width:1050px) {
    header .navbar {
        display: none;
    }
    header {
        padding:30px;
    }
    .banner .title p {
        word-spacing:8px;
    }
    .q {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .users {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .videos {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    #smiles {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .faq {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
}
/* ============== END RESPONSIVE ============ */
